@model IEnumerable<WebOrdersInfo.Models.ViewModels.Orders.OrderViewModel>

<div>
    <table class="table-orders">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SequenceNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.ClientName)</th>
            <th>@Html.DisplayNameFor(model => model.ManagerName)</th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    <a asp-action="Create" asp-controller="Orders"  data-bs-toggle="tooltip" data-bs-placement="top" title="Создать новый заказ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SequenceNumber</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.ClientName</td>
                <td>@item.ManagerName</td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <div class="d-flex flex-row">
                            <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать заказ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                            <form asp-action="Delete" asp-controller="Orders" asp-route-id="@item.Id" class="hide-submit" method="post">
                                <label data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить заказ">
                                    <input type="submit" hidden=""/>
                                    <svg id="delete-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                    </svg>
                                </label>
                            </form>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>